# 1. Train

In [1]:
import six.moves.urllib as urllib
import os
from glob import glob
from shutil import copyfile
import os, sys, random, shutil

## 1.1Download out-source data

In [2]:
link = 'https://mycityreport.s3-ap-northeast-1.amazonaws.com/02_RoadDamageDataset/public_data/Japan/CACAIE2018/RoadDamageDataset.tar.gz'
path_to_save = './RoadDamageDataset.tar.gz'
urllib.request.urlretrieve(link, path_to_save)

('./RoadDamageDataset.tar.gz', <http.client.HTTPMessage at 0x7f5a9998de90>)

In [3]:
!tar -zxf ./RoadDamageDataset.tar.gz

## 1.2 Data preparation

In [4]:
os.mkdir('/content/Data/')
os.mkdir('/content/Data/Annotations')
os.mkdir('/content/Data/JPEGImages')
os.mkdir('/content/Data/labels')

In [5]:
#Annotationslist=glob('/content/RoadDamageDataset/Adachi/Annotations/*.xml')+glob('/content/RoadDamageDataset/Chiba/Annotations/*.xml')+glob('/content/RoadDamageDataset/lchihara/Annotations/*.xml')+glob('/content/RoadDamageDataset/Muroran/Annotations/*.xml')+glob('/content/RoadDamageDataset/Nagakute/Annotations/*.xml')+glob('/content/RoadDamageDataset/Numazu/Annotations/*.xml')+glob('/content/RoadDamageDataset/Sumida/Annotations/*.xml')
#JPEGImageslist=glob('/content/RoadDamageDataset/Adachi/JPEGImages/*.jpg')+glob('/content/RoadDamageDataset/Chiba/JPEGImages/*.jpg')+glob('/content/RoadDamageDataset/lchihara/JPEGImages/*.jpg')+glob('/content/RoadDamageDataset/Muroran/JPEGImages/*.jpg')+glob('/content/RoadDamageDataset/Nagakute/JPEGImages/*.jpg')+glob('/content/RoadDamageDataset/Numazu/JPEGImages/*.jpg')+glob('/content/RoadDamageDataset/Sumida/JPEGImages/*.jpg')
#labels=glob('/content/RoadDamageDataset/Adachi/labels/*.txt')+glob('/content/RoadDamageDataset/Chiba/labels/*.txt')+glob('/content/RoadDamageDataset/lchihara/labels/*.txt')+glob('/content/RoadDamageDataset/Muroran/labels/*.txt')+glob('/content/RoadDamageDataset/Nagakute/labels/*.txt')+glob('/content/RoadDamageDataset/Numazu/labels/*.txt')+glob('/content/RoadDamageDataset/Sumida/labels/*.txt')

In [5]:
#use part of the data as training data.
Annotationslist=glob('/content/RoadDamageDataset/Numazu/Annotations/*.xml')
JPEGImageslist=glob('/content/RoadDamageDataset/Numazu/JPEGImages/*.jpg')
labels=glob('/content/RoadDamageDataset/Numazu/labels/*.txt')

In [6]:
#copy file to folder
for i in range(len(JPEGImageslist)):
  shutil.copy(JPEGImageslist[i], "/content/Data/JPEGImages")
for i in range(len(Annotationslist)):
  shutil.copy(Annotationslist[i], "/content/Data/Annotations")
for i in range(len(labels)):
  shutil.copy(labels[i], "/content/Data/labels")

In [7]:
import os, sys, random, shutil
import xml.etree.ElementTree as ET
from glob import glob
import pandas as pd
from shutil import copyfile
import pandas as pd
from sklearn import preprocessing, model_selection
import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib import patches
import numpy as np
#convert annotations to csv file.
annotations = sorted(glob('/content/Data/Annotations/*.xml'))

df = []
cnt = 0
for file in annotations:
  prev_filename = file.split('/')[-1].split('.')[0] + '.jpg'
  filename = str(cnt) + '.jpg'
  row = []
  parsedXML = ET.parse(file)
  for node in parsedXML.getroot().iter('object'):
    blood_cells = node.find('name').text
    xmin = int(node.find('bndbox/xmin').text)
    xmax = int(node.find('bndbox/xmax').text)
    ymin = int(node.find('bndbox/ymin').text)
    ymax = int(node.find('bndbox/ymax').text)

    row = [prev_filename, filename, blood_cells, xmin, xmax, ymin, ymax]
    df.append(row)
  cnt += 1
data = pd.DataFrame(df, columns=['prev_filename', 'filename', 'cell_type', 'xmin', 'xmax', 'ymin', 'ymax'])

data[['prev_filename','filename', 'cell_type', 'xmin', 'xmax', 'ymin', 'ymax']].to_csv('/content/roaddamage.csv', index=False)
data.head(10)

               prev_filename filename cell_type  xmin  xmax  ymin  ymax
0  Numazu_20170905143657.jpg    0.jpg       D44   299   426   350   599
1  Numazu_20170905143712.jpg    1.jpg       D43   374   600   408   547
2  Numazu_20170905143717.jpg    2.jpg       D43   447   600   382   471
3  Numazu_20170905143806.jpg    3.jpg       D43     7   595   487   599
4  Numazu_20170905143851.jpg    4.jpg       D01   412   530   383   514
5  Numazu_20170905143851.jpg    4.jpg       D20     4   154   432   509
6  Numazu_20170905143851.jpg    4.jpg       D44    10   272   388   563
7  Numazu_20170905143903.jpg    5.jpg       D01     1   223   417   576
8  Numazu_20170905143903.jpg    5.jpg       D01   402   535   364   544
9  Numazu_20170905143913.jpg    6.jpg       D44   121   600   488   573

In [8]:
img_width = 600
img_height = 600

def width(df):
  return int(df.xmax - df.xmin)
def height(df):
  return int(df.ymax - df.ymin)
def x_center(df):
  return int(df.xmin + (df.width/2))
def y_center(df):
  return int(df.ymin + (df.height/2))
def w_norm(df):
  return df/img_width
def h_norm(df):
  return df/img_height

#summarize roaddammage 
df = pd.read_csv('/content/roaddamage.csv')

le = preprocessing.LabelEncoder()
le.fit(df['cell_type'])
print(le.classes_)
labels = le.transform(df['cell_type'])
df['labels'] = labels

df['width'] = df.apply(width, axis=1)
df['height'] = df.apply(height, axis=1)

df['x_center'] = df.apply(x_center, axis=1)
df['y_center'] = df.apply(y_center, axis=1)

df['x_center_norm'] = df['x_center'].apply(w_norm)
df['width_norm'] = df['width'].apply(w_norm)

df['y_center_norm'] = df['y_center'].apply(h_norm)
df['height_norm'] = df['height'].apply(h_norm)

df.head(30)

['D00' 'D01' 'D10' 'D11' 'D20' 'D30' 'D40' 'D43' 'D44']

                prev_filename filename  ... y_center_norm  height_norm
0   Numazu_20170905143657.jpg    0.jpg  ...      0.790000     0.415000
1   Numazu_20170905143712.jpg    1.jpg  ...      0.795000     0.231667
2   Numazu_20170905143717.jpg    2.jpg  ...      0.710000     0.148333
3   Numazu_20170905143806.jpg    3.jpg  ...      0.905000     0.186667
4   Numazu_20170905143851.jpg    4.jpg  ...      0.746667     0.218333
5   Numazu_20170905143851.jpg    4.jpg  ...      0.783333     0.128333
6   Numazu_20170905143851.jpg    4.jpg  ...      0.791667     0.291667
7   Numazu_20170905143903.jpg    5.jpg  ...      0.826667     0.265000
8   Numazu_20170905143903.jpg    5.jpg  ...      0.756667     0.300000
9   Numazu_20170905143913.jpg    6.jpg  ...      0.883333     0.141667
10  Numazu_20170905143913.jpg    6.jpg  ...      0.735000     0.238333
11  Numazu_20170905144044.jpg    7.jpg  ...      0.820000     0.343333
12  Numazu_20170905144050.jpg    8.jpg  ...      0.778333     0.381667
13  Numazu_20170905144050.jpg    8.jpg  ...      0.780000     0.188333
14  Numazu_20170905144050.jpg    8.jpg  ...      0.800000     0.398333
15  Numazu_20170905144050.jpg    8.jpg  ...      0.898333     0.178333
16  Numazu_20170905144142.jpg    9.jpg  ...      0.830000     0.235000
17  Numazu_20170905144159.jpg   10.jpg  ...      0.806667     0.291667
18  Numazu_20170905144159.jpg   10.jpg  ...      0.818333     0.253333
19  Numazu_20170905144201.jpg   11.jpg  ...      0.853333     0.140000
20  Numazu_20170905144201.jpg   11.jpg  ...      0.828333     0.341667
21  Numazu_20170905144202.jpg   12.jpg  ...      0.826667     0.175000
22  Numazu_20170905144204.jpg   13.jpg  ...      0.805000     0.368333
23  Numazu_20170905144220.jpg   14.jpg  ...      0.736667     0.160000
24  Numazu_20170905144220.jpg   14.jpg  ...      0.821667     0.336667
25  Numazu_20170905144228.jpg   15.jpg  ...      0.861667     0.275000
26  Numazu_20170905144306.jpg   16.jpg  ...      0.811667     0.043333
27  Numazu_20170905144306.jpg   16.jpg  ...      0.735000     0.120000
28  Numazu_20170905144306.jpg   16.jpg  ...      0.901667     0.195000
29  Numazu_20170905144312.jpg   17.jpg  ...      0.888333     0.221667

[30 rows x 16 columns]

In [9]:
#train-test split
df_train, df_valid = model_selection.train_test_split(df, test_size=0.1, random_state=13, shuffle=True)
print(df_train.shape, df_valid.shape)

(3339, 16) (372, 16)

In [10]:
os.mkdir('/content/Train/')
os.mkdir('/content/Train/images/')
os.mkdir('/content/Train/images/train/')
os.mkdir('/content/Train/images/valid/')

os.mkdir('/content/Train/labels/')
os.mkdir('/content/Train/labels/train/')
os.mkdir('/content/Train/labels/valid/')

In [11]:
def segregate_data(df, img_path, label_path, train_img_path, train_label_path):
  filenames = []
  for filename in df.filename:
    filenames.append(filename)
  filenames = set(filenames)
  
  for filename in filenames:
    yolo_list = []

    for _,row in df[df.filename == filename].iterrows():
      yolo_list.append([row.labels, row.x_center_norm, row.y_center_norm, row.width_norm, row.height_norm])

    yolo_list = np.array(yolo_list)
    txt_filename = os.path.join(train_label_path,str(row.prev_filename.split('.')[0])+".txt")
    # Save the .img & .txt files to the corresponding train and validation folders
    np.savetxt(txt_filename, yolo_list, fmt=["%d", "%f", "%f", "%f", "%f"])
    shutil.copyfile(os.path.join(img_path,row.prev_filename), os.path.join(train_img_path,row.prev_filename))

In [12]:
%%time
src_img_path = "/content/Data/JPEGImages"
src_label_path = "/content/Data/labels"

train_img_path = "/content/Train/images/train"
train_label_path = "/content/Train/labels/train"

valid_img_path = "/content/Train/images/valid"
valid_label_path = "/content/Train/labels/valid"

#merge training pic,label and test pic,label
segregate_data(df_train, src_img_path, src_label_path, train_img_path, train_label_path)
segregate_data(df_valid, src_img_path, src_label_path, valid_img_path, valid_label_path)

CPU times: user 3.74 s, sys: 1.05 s, total: 4.79 s
Wall time: 5.09 s

In [ ]:
#!mkdir -p '/content/drive/My Drive/Machine Learning Projects/YOLO/'
#!cp -r '/content/Train' '/content/drive/My Drive/Machine Learning Projects/YOLO/'

## 1.3 Yolov5 model

In [13]:
#import yolov5 model
!git clone  'https://github.com/ultralytics/yolov5.git'
!pip install -qr '/content/yolov5/requirements.txt'  # install dependencies

Cloning into 'yolov5'...
remote: Enumerating objects: 6294, done.
remote: Counting objects: 100% (89/89), done.
remote: Compressing objects: 100% (65/65), done.
remote: Total 6294 (delta 41), reused 57 (delta 24), pack-reused 6205
Receiving objects: 100% (6294/6294), 8.51 MiB | 25.63 MiB/s, done.
Resolving deltas: 100% (4298/4298), done.
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 645kB 7.6MB/s

In [14]:
# change the nc number of yolov5 model
!echo -e 'train: /content/Train/images/train\nval: /content/Train/images/valid\n\nnc: 9\nnames: ["D00", "D01", "D10", "D11", "D20","D30", "D40", "D43", "D44"]' >> Train.yaml
!cat 'Train.yaml' 
shutil.copyfile('/content/Train.yaml', '/content/yolov5/Train.yaml')
!sed -i 's/nc: 80/nc: 9/g' ./yolov5/models/yolov5s.yaml

train: /content/Train/images/train
val: /content/Train/images/valid

nc: 9
names: ["D00", "D01", "D10", "D11", "D20","D30", "D40", "D43", "D44"]

In [15]:
#train 5 epochs as display
!python yolov5/train.py --img 600 --batch 64 --epochs 5 --data Train.yaml --cfg models/yolov5s.yaml --name TrainM

github: skipping check (not a git repository)
requirements: /content/requirements.txt not found, check failed.
YOLOv5 ðŸš€ v5.0-91-g17b0f71 torch 1.8.1+cu101 CUDA:0 (Tesla P100-PCIE-16GB, 16280.875MB)

Namespace(adam=False, artifact_alias='latest', batch_size=64, bbox_interval=-1, bucket='', cache_images=False, cfg='./yolov5/models/yolov5s.yaml', data='Train.yaml', device='', entity=None, epochs=5, evolve=False, exist_ok=False, global_rank=-1, hyp='./yolov5/data/hyp.scratch.yaml', image_weights=False, img_size=[600, 600], label_smoothing=0.0, linear_lr=False, local_rank=-1, multi_scale=False, name='TrainM', noautoanchor=False, nosave=False, notest=False, project='runs/train', quad=False, rect=False, resume=False, save_dir='runs/train/TrainM', save_period=-1, single_cls=False, sync_bn=False, total_batch_size=64, upload_dataset=False, weights='yolov5s.pt', workers=8, world_size=1)
tensorboard: Start with 'tensorboard --logdir runs/train', view at http://localhost:6006/
2021-05-14 23:52:31.606499: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcudart.so.11.0
hyperparameters: lr0=0.01, lrf=0.2, momentum=0.937, weight_decay=0.0005, warmup_epochs=3.0, warmup_momentum=0.8, warmup_bias_lr=0.1, box=0.05, cls=0.5, cls_pw=1.0, obj=1.0, obj_pw=1.0, iou_t=0.2, anchor_t=4.0, fl_gamma=0.0, hsv_h=0.015, hsv_s=0.7, hsv_v=0.4, degrees=0.0, translate=0.1, scale=0.5, shear=0.0, perspective=0.0, flipud=0.0, fliplr=0.5, mosaic=1.0, mixup=0.0
wandb: Install Weights & Biases for YOLOv5 logging with 'pip install wandb' (recommended)
Downloading https://github.com/ultralytics/yolov5/releases/download/v5.0/yolov5s.pt to yolov5s.pt...
100% 14.1M/14.1M [00:00<00:00, 73.7MB/s]


                 from  n    params  module                                  arguments
  0                -1  1      3520  models.common.Focus                     [3, 32, 3]
  1                -1  1     18560  models.common.Conv                      [32, 64, 3, 2]
  2                -1  1     18816  models.common.C3                        [64, 64, 1]
  3                -1  1     73984  models.common.Conv                      [64, 128, 3, 2]
  4                -1  1    156928  models.common.C3                        [128, 128, 3]
  5                -1  1    295424  models.common.Conv                      [128, 256, 3, 2]
  6                -1  1    625152  models.common.C3                        [256, 256, 3]
  7                -1  1   1180672  models.common.Conv                      [256, 512, 3, 2]
  8                -1  1    656896  models.common.SPP                       [512, 512, [5, 9, 13]]
  9                -1  1   1182720  models.common.C3                        [512, 512, 1, False]
 10                -1  1    131584  models.common.Conv                      [512, 256, 1, 1]
 11                -1  1         0  torch.nn.modules.upsampling.Upsample    [None, 2, 'nearest']
 12           [-1, 6]  1         0  models.common.Concat                    [1]
 13                -1  1    361984  models.common.C3                        [512, 256, 1, False]
 14                -1  1     33024  models.common.Conv                      [256, 128, 1, 1]
 15                -1  1         0  torch.nn.modules.upsampling.Upsample    [None, 2, 'nearest']
 16           [-1, 4]  1         0  models.common.Concat                    [1]
 17                -1  1     90880  models.common.C3                        [256, 128, 1, False]
 18                -1  1    147712  models.common.Conv                      [128, 128, 3, 2]
 19          [-1, 14]  1         0  models.common.Concat                    [1]
 20                -1  1    296448  models.common.C3                        [256, 256, 1, False]
 21                -1  1    590336  models.common.Conv                      [256, 256, 3, 2]
 22          [-1, 10]  1         0  models.common.Concat                    [1]
 23                -1  1   1182720  models.common.C3                        [512, 512, 1, False]
 24      [17, 20, 23]  1     37758  models.yolo.Detect                      [9, [[10, 13, 16, 30, 33, 23], [30, 61, 62, 45, 59, 119], [116, 90, 156, 198, 373, 326]], [128, 256, 512]]
Model Summary: 283 layers, 7085118 parameters, 7085118 gradients, 16.4 GFLOPS

Transferred 354/362 items from yolov5s.pt
Scaled weight_decay = 0.0005
Optimizer groups: 62 .bias, 62 conv.weight, 59 other
WARNING: --img-size 600 must be multiple of max stride 32, updating to 608
WARNING: --img-size 600 must be multiple of max stride 32, updating to 608
train: Scanning '/content/Train/labels/train' images and labels... 1941 found, 0 missing, 0 empty, 0 corrupted: 100% 1941/1941 [00:00<00:00, 2428.33it/s]
train: New cache created: /content/Train/labels/train.cache
val: Scanning '/content/Train/labels/valid' images and labels... 345 found, 0 missing, 0 empty, 0 corrupted: 100% 345/345 [00:00<00:00, 1652.30it/s]
val: New cache created: /content/Train/labels/valid.cache
Plotting labels...

autoanchor: Analyzing anchors... anchors/target = 3.89, Best Possible Recall (BPR) = 0.9934
Image sizes 608 train, 608 test
Using 4 dataloader workers
Logging results to runs/train/TrainM
Starting training for 5 epochs...

     Epoch   gpu_mem       box       obj       cls     total    labels  img_size
       0/4     3.56G   0.09764   0.03019   0.06191    0.1897        58       608: 100% 31/31 [00:43<00:00,  1.42s/it]
               Class      Images      Labels           P           R      mAP@.5  mAP@.5:.95: 100% 3/3 [00:08<00:00,  2.86s/it]
                 all         345         372    0.000181      0.0519     2.2e-05    3.19e-06

     Epoch   gpu_mem       box       obj       cls     total    labels  img_size
       1/4     10.3G   0.07727   0.03191   0.05543    0.1646        58       608: 100% 31/31 [00:36<00:00,  1.18s/it]
               Class      Images      Labels           P           R      mAP@.5  mAP@.5:.95: 100% 3/3 [00:05<00:00,  1.78s/it]
                 all         345         372       0.136      0.0236     0.00495     0.00127

     Epoch   gpu_mem       box       obj       cls     total    labels  img_size
       2/4     10.3G   0.06875   0.03115   0.05189    0.1518        41       608: 100% 31/31 [00:38<00:00,  1.26s/it]
               Class      Images      Labels           P           R      mAP@.5  mAP@.5:.95: 100% 3/3 [00:04<00:00,  1.48s/it]
                 all         345         372       0.635      0.0949      0.0094     0.00309

     Epoch   gpu_mem       box       obj       cls     total    labels  img_size
       3/4     10.3G   0.06332   0.03084   0.04931    0.1435        58       608: 100% 31/31 [00:40<00:00,  1.30s/it]
               Class      Images      Labels           P           R      mAP@.5  mAP@.5:.95: 100% 3/3 [00:05<00:00,  1.87s/it]
                 all         345         372       0.641         0.1      0.0203     0.00841

     Epoch   gpu_mem       box       obj       cls     total    labels  img_size
       4/4     10.3G   0.06081   0.03096   0.04863    0.1404        62       608: 100% 31/31 [00:38<00:00,  1.24s/it]
               Class      Images      Labels           P           R      mAP@.5  mAP@.5:.95: 100% 3/3 [00:11<00:00,  3.99s/it]
                 all         345         372       0.667      0.0556      0.0278     0.00958
                 D00         345          53           1           0     0.00572     0.00151
                 D01         345          83       0.143       0.108      0.0665      0.0201
                 D10         345          26           1           0           0           0
                 D11         345          21           1           0           0           0
                 D20         345          66      0.0738      0.0303      0.0266     0.00827
                 D40         345          19           1           0     0.00503    0.000974
                 D43         345          19           1           0    0.000236    3.75e-05
                 D44         345          85       0.121       0.306       0.119      0.0457
5 epochs completed in 0.069 hours.

Optimizer stripped from runs/train/TrainM/weights/last.pt, 14.4MB
Optimizer stripped from runs/train/TrainM/weights/best.pt, 14.4MB

# 2. Prediction

In [16]:
link = 'https://wdl-data.fra1.digitaloceanspaces.com/cycleai/image_set.zip'
path_to_save = './image_set.zip'
urllib.request.urlretrieve(link, path_to_save)

('./image_set.zip', <http.client.HTTPMessage at 0x7f5a84a22950>)

In [ ]:
!unzip  image_set.zip

In [20]:
#get the pre-train weight from github
!git clone  'https://github.com/rainieluo2016/WDL.git'

fatal: destination path 'WDL' already exists and is not an empty directory.

In [21]:
# we using our pre-train weight and do the prediction.
output = !python yolov5/detect.py --save-txt --conf-thres 0.4  --source /content/Competition/images --weights '/content/WDL/Stage_3/model/best.pt'

# 3. Result Preparation

## 3.1 Coordinate

In [ ]:
# import dataset provided by competition
import os
path = './Competition/coordinates/'
all_files = os.listdir(path)

In [ ]:
# output all the text file information into dataframe
new_list = []
for file in all_files:
  with open(os.path.join(path, file),'rb') as f:
    text = f.read()
    new_list.append([file, text])

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
coord = pd.DataFrame(new_list, columns=['file','coordinate'])
coord.head()

            file                                         coordinate
0     image0.txt    b'lat:38.73277225961562;lng-9.172048739336\r\n'
1     image1.txt  b'lat:38.76039827177381;lng-9.190202095966573\...
2    image10.txt                b'lat:38.7439627;lng-9.1136023\r\n'
3   image100.txt  b'lat:38.77974496618023;lng-9.124785817496566\...
4  image1000.txt                b'lat:38.7754189;lng-9.1708593\r\n'

In [ ]:
coord[['file','txt']] = coord['file'].str.split('.',expand = True)
coord = coord.drop(columns = ['txt'])
coord.head()

        file                                         coordinate
0     image0    b'lat:38.73277225961562;lng-9.172048739336\r\n'
1     image1  b'lat:38.76039827177381;lng-9.190202095966573\...
2    image10                b'lat:38.7439627;lng-9.1136023\r\n'
3   image100  b'lat:38.77974496618023;lng-9.124785817496566\...
4  image1000                b'lat:38.7754189;lng-9.1708593\r\n'

In [ ]:
# save a backup for raw coordinate file
coord_bckp = coord

# contains 116 duplicates
coord_bckp['coordinate'].duplicated().sum()

116

In [ ]:
coord = coord_bckp
coord[['lat','lng']] = coord['coordinate'].astype(str).str.split(';',expand = True)
coord['lat'] = coord['lat'].str.extract(r'([\-0-9.]+)').astype(float)
coord['lng'] = coord['lng'].str.extract(r'([\-0-9.]+)').astype(float)
coord = coord.drop(columns = ['coordinate'])
coord.head()

        file        lat       lng
0     image0  38.732772 -9.172049
1     image1  38.760398 -9.190202
2    image10  38.743963 -9.113602
3   image100  38.779745 -9.124786
4  image1000  38.775419 -9.170859

## 3.2 Label

In [ ]:
# import model result file
url = 'https://raw.githubusercontent.com/rainieluo2016/WDL/main/Stage_3/result.csv'
label = pd.read_csv(url, delimiter = ',', index_col=0)
label.head()

                filename  cell_type      xmin      xmax      ymin      ymax
0       image0angle0.txt          1  0.701563  0.236719  0.337500  0.457812
1  image1002angle180.txt          8  0.889844  0.925000  0.220313  0.150000
2          image1006.txt          4  0.668750  0.860156  0.662500  0.279687
3   image1008angle90.txt          8  0.127344  0.771875  0.248437  0.393750
4     image100angle0.txt          0  0.475781  0.896094  0.223438  0.207813

In [ ]:
# extract the file name based on the main content
label['file'] = label['filename'].str.extract(r'([a-zA-Z]+[0-9]+)')
label.head()

,filename,cell_type,xmin,xmax,ymin,ymax,file
0,image0angle0.txt,1,0.701563,0.236719,0.337500,0.457812,image0
1,image1002angle180.txt,8,0.889844,0.925000,0.220313,0.150000,image1002
2,image1006.txt,4,0.668750,0.860156,0.662500,0.279687,image1006
3,image1008angle90.txt,8,0.127344,0.771875,0.248437,0.393750,image1008
4,image100angle0.txt,0,0.475781,0.896094,0.223438,0.207813,image100

In [ ]:
# damge definition
from IPython.display import Image
Image(url = 'https://raw.githubusercontent.com/rainieluo2016/WDL/main/Stage_3/damage_def.PNG')

Since we have so much label here, we would like to classify them as three different types:
+ Linear Crack - cell_type in dataframe as 0-3
+ Alligator Crack - cell type in dataframe as 4
+ Other Corruption - cell type in datafram as 6-8

Based on this result, we could like to create four different types of weight for four different heat map:
+ Weight 1 - Linear Crack count
+ Weight 2 - Alligator Crack count
+ Weight 3 - Other Corruption count
+ Weight 4 - Total Damage count (sum of previous 3 weight)

### 3.2.2 Sort Result

In [ ]:
# group the label based on the same file name
# so that combination of same file and same cell_type will only have one row
label_all_pre = label.groupby(['file','cell_type']).size().reset_index(name='count')
label_all_pre.head()

        file  cell_type  count
0     image0          1      1
1   image100          0      1
2  image1002          8      1
3  image1006          4      1
4  image1008          8      1

In [ ]:
 # pivot the previous preparation table so that each cell_type will have one column
 label_all = label_all_pre.pivot(index="file", columns="cell_type", values="count")
 label_all = label_all.fillna(0)

 # change column names as correct label name
 label_all.columns = ['D00','D01','D10','D11','D20','D40','D43','D44']
 label_all.head()

           D00  D01  D10  D11  D20  D40  D43  D44
file
image0     0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
image100   1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
image1002  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
image1006  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0
image1008  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [ ]:
# add Weight 1 - Linear Crack count
label_all['linear_crack'] = label_all['D00'] + label_all['D01'] + label_all['D10'] + label_all['D11']

# add Weight 2 - Alligator Crack count
label_all['alligator_crack'] = label_all['D20']

# add Weight 3 - Other Corruption count
label_all['other'] = label_all['D40'] + label_all['D43'] + label_all['D44']

# add Weight 4 - total count
label_all['total'] = label_all['linear_crack'] + label_all['alligator_crack'] + label_all['other']
label_all.head()

,D00,D01,D10,D11,D20,D40,D43,D44,linear_crack,alligator_crack,other,total
file,,,,,,,,,,,,
image0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
image100,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
image1002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0
image1006,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
image1008,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0

In [ ]:
# reset index so that we could merge based on this column
label_all = label_all.reset_index()

,file,lat,lng,D00,D01,D10,D11,D20,D40,D43,D44,linear_crack,alligator_crack,other,total
0,image0,38.732772,-9.172049,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1,image1,38.760398,-9.190202,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,image10,38.743963,-9.113602,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,image100,38.779745,-9.124786,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
4,image1000,38.775419,-9.170859,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# merge the label result with the coordinate dataframe
cood_wth_label = pd.merge(coord, label_all, how='left', on='file')
cood_wth_label = cood_wth_label.fillna(0)
cood_wth_label.head()

,file,lat,lng,D00,D01,D10,D11,D20,D40,D43,D44,linear_crack,alligator_crack,other,total
0,image0,38.732772,-9.172049,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1,image1,38.760398,-9.190202,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,image10,38.743963,-9.113602,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,image100,38.779745,-9.124786,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
4,image1000,38.775419,-9.170859,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# merge the coordinate with the label result (only rows with label)
cood_1 = pd.merge(label_all[label_all['linear_crack'] != 0], coord, how='left', on='file')
cood_2 = pd.merge(label_all[label_all['alligator_crack'] != 0], coord, how='left', on='file')
cood_3 = pd.merge(label_all[label_all['other'] != 0], coord, how='left', on='file')
cood_4 = pd.merge(label_all, coord, how='left', on='file')

# 4. Maping

In [ ]:
# !pip install gmaps

In [ ]:
import gmaps
import gmaps.datasets

In [ ]:
gmaps.configure(api_key='AIzaSyCamY89Ok8iEFQINZPMESaswOvg9JxldS8')

In [ ]:
# change the dataframe to dictionary to apply on the map
marker_record_1 = cood_1.to_dict('records')
marker_record_2 = cood_2.to_dict('records')
marker_record_3 = cood_3.to_dict('records')
marker_record_4 = cood_4.to_dict('records')

# prepare for needed variables
latlng = cood_wth_label[['lat','lng']]
weight_1 = cood_wth_label['linear_crack']
weight_2 = cood_wth_label['alligator_crack']
weight_3 = cood_wth_label['other']
weight_4 = cood_wth_label['total']

### __Heatmap 1-Linear Crack Damage__

Since the google api require to run everytime when open the file, it will not show directly when you open this notebook before you run. We will show images to elaborate results. It will work successfully when you actually run this part.

We create heatmap and the info box for each location idenfied as this damage type.

In [ ]:
# weight 1 linear_crack
info_box_template = """
<p style = 'text-align:center;'><b>Linear Crack Details</p></b>

<dl>
<dt><b>Image</b></dt><dd>{file}</dd>
<dt><b>Longtitudinal</b></dt>
<dt>Wheel Mark</dt><dd>{D00}</dd>
<dt>Construction Joint</dt><dd>{D01}</dd>
<dt><b>Lateral</b></dt>
<dt>Equal Interval</dt><dd>{D10}</dd>
<dt>Construction Joint</dt><dd>{D11}</dd>
<dt><b>Total Linear Crack Count</b></dt><dd>{linear_crack}</dd>
</dl>
"""
img_locations = [(img['lat'], img['lng']) for img in marker_record_1]
img_info = [info_box_template.format(**img) for img in marker_record_1]

figure_layout = {'width': '500px', 'margin': '0 auto 0 auto'}
marker_layer = gmaps.symbol_layer(img_locations, info_box_content=img_info, scale = 1)
fig = gmaps.figure(layout=figure_layout)
fig.add_layer(marker_layer)
fig.add_layer(gmaps.heatmap_layer(latlng, weights= weight_1, max_intensity=7))
fig

Figure(layout=FigureLayout(height='420px', margin='0 auto 0 auto', width='500px'))

In [ ]:
# heatmap result
Image(url = 'https://raw.githubusercontent.com/rainieluo2016/WDL/main/Stage_3/linear_crack.PNG')

In [ ]:
# info box for each black dot to show detail for image with damaged pavement 
# example
Image(url = 'https://raw.githubusercontent.com/rainieluo2016/WDL/main/Stage_3/linear_crack_marker.PNG')

### __Heatmap 2-Alligator Crack Damage__

In [ ]:
# weight 2 Alligator
info_box_template = """
<p style = 'text-align:center;'><b>Alligator Crack Detail:</b></p>
<p style = 'text-align:center;'>Partial pavement, overall pavement</p>

<dl>
<dt><b>Image</b></dt><dd>{file}</dd>
<dt><b>Total Alligator Crack Count</b></dt><dd>{D20}</dd>
</dl>
"""
img_locations = [(img['lat'], img['lng']) for img in marker_record_2]
img_info = [info_box_template.format(**img) for img in marker_record_2]

figure_layout = {'width': '500px', 'margin': '0 auto 0 auto'}
marker_layer = gmaps.symbol_layer(img_locations, info_box_content=img_info, scale = 1)
fig = gmaps.figure(layout=figure_layout)
fig.add_layer(marker_layer)
fig.add_layer(gmaps.heatmap_layer(latlng, weights= weight_2, max_intensity=7))
fig

Figure(layout=FigureLayout(height='420px', margin='0 auto 0 auto', width='500px'))

In [ ]:
# heatmap result
Image(url = 'https://raw.githubusercontent.com/rainieluo2016/WDL/main/Stage_3/alligator.PNG')

In [ ]:
# info box example
Image(url = 'https://raw.githubusercontent.com/rainieluo2016/WDL/main/Stage_3/alligator_maker.PNG')

### __Heatmap 3-Other Corruption Damage__

In [ ]:
# weight 3 other
info_box_template = """
<p style = 'text-align:center;'><b>Other Corruption Detail:</b></p>

<dl>
<dt><b>Image</b></dt><dd>{file}</dd>
<dt>Rutting, bump, pothole, seperation</dt><dd>{D40}</dd>
<dt>Cross walk blur</dt><dd>{D43}</dd>
<dt>White Line blur</dt><dd>{D44}</dd>
<dt><b>Total Other Corruption Count</b></dt><dd>{other}</dd>
</dl>
"""
img_locations = [(img['lat'], img['lng']) for img in marker_record_3]
img_info = [info_box_template.format(**img) for img in marker_record_3]

figure_layout = {'width': '500px', 'margin': '0 auto 0 auto'}
marker_layer = gmaps.symbol_layer(img_locations, info_box_content=img_info, scale = 1)
fig = gmaps.figure(layout=figure_layout)
fig.add_layer(marker_layer)
fig.add_layer(gmaps.heatmap_layer(latlng, weights= weight_3, max_intensity=7))
fig

Figure(layout=FigureLayout(height='420px', margin='0 auto 0 auto', width='500px'))

In [ ]:
# heatmap result
Image(url = 'https://raw.githubusercontent.com/rainieluo2016/WDL/main/Stage_3/other.PNG')

In [ ]:
# info box example
Image(url = 'https://raw.githubusercontent.com/rainieluo2016/WDL/main/Stage_3/other_marker.PNG')

### __Heatmap 4 - Total Damage__

In [ ]:
# weight 4 total
figure_layout = {'width': '500px', 'margin': '0 auto 0 auto'}
fig = gmaps.figure(layout=figure_layout)
fig.add_layer(gmaps.heatmap_layer(latlng, weights= weight_4, max_intensity=7))
fig

Figure(layout=FigureLayout(height='420px', margin='0 auto 0 auto', width='500px'))

In [ ]:
# heatmap result
Image(url = 'https://raw.githubusercontent.com/rainieluo2016/WDL/main/Stage_3/total2.PNG')

# 5. Image Detail

In [ ]:
import cv2
import seaborn as sns
import matplotlib.pyplot as plt
import os

In [ ]:
# reformat the filename with ending 'jpg' so that we could match to the image name we want
file_jpg = label['filename'].str.replace('txt','jpg').reset_index(name = 'filename')
file_jpg['file'] = label['file']
file_jpg.head()

   index               filename       file
0      0       image0angle0.jpg     image0
1      1  image1002angle180.jpg  image1002
2      2          image1006.jpg  image1006
3      3   image1008angle90.jpg  image1008
4      4     image100angle0.jpg   image100

In [ ]:
from __future__ import print_function
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets

In [ ]:
# create a interactive interface to check image directly for those damaged pavement
def f(image_name):
    matcher = image_name
    matching = file_jpg[file_jpg['file'] == matcher]['filename']
    matching = list(set(matching))
    matching
    # no image found
    if len(matching) == 0:
        print('No Damage at this place')
    
    # only 1 image found 
    elif len(matching) == 1:
        image_path = os.path.join("./finallabels/",matching[0])
        image = cv2.imread(image_path)
        image = cv2.cvtColor(image, cv2.COLOR_BGR2RGB)

        # set title for the figure
        fig = plt.figure()
        fig.suptitle(matching[0])
        
        # add notation for each label 
        plt.text(700,400,'D00 - Wheel Mark Longitudinal Crack\nD01 - Construciton Joint Longitudinal Crack\nD10 - Equal Interval Lateral Crack\nD11 - Construction Joint Lateral Crack\nD20 - Alligator Crack\nD40 - Rutting, Bump, Pothole, Separation \nD43 - Cross Walk Blur\nD44 - White Line Blur', fontsize = 10)
        plt.imshow(image)


    # more than 1 image found    
    else:
        n = len(matching) # how many figures in total
        fig, axs = plt.subplots(n, sharex=True, figsize = (25*n,20)) # set axis
        for i in range(n):
            image_path = os.path.join("./finallabels/",matching[i])
            image = cv2.imread(image_path)
            image = cv2.cvtColor(image, cv2.COLOR_BGR2RGB)

            # add title for each image
            axs[i].imshow(image)
            axs[i].title.set_text(matching[i])

            # add notation for each label
            axs[i].text(700, 600, 'D00 - Wheel Mark Longitudinal Crack\nD01 - Construciton Joint Longitudinal Crack\nD10 - Equal Interval Lateral Crack\nD11 - Construction Joint Lateral Crack\nD20 - Alligator Crack\nD40 - Rutting, Bump, Pothole, Separation \nD43 - Cross Walk Blur\nD44 - White Line Blur', fontsize=8)

In [ ]:
w = interact(f, image_name = widgets.Combobox(options = list(coord['file']), value = 'image7'))
display(w)

# you could type the image name in the box
# if not damaged at all - show as 'No damaged for this section'
# if damaged - show the damaged section from different angle

interactive(children=(Combobox(value='image7', description='image_name', options=('image0', 'image1', 'image10â€¦